streamlit
pandas
numpy
seaborn
matplotlib
scikit-learn
plotly
google-generativeai
pdfplumber
PyMuPDF
altair
python-dotenv
requests
google-search-results
openpyxl
serpapi==0.1.5
google-api-core>=2.11.0
with google-search-results
